.header{
    background-color: rgb(189, 185, 77);
}

.title{
    color: aliceblue;
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link{
    color: aliceblue;
}

.title:hover, .nav-link:hover{
    color: bisque;
}